@font-face {
  font-family: "Roboto-400";
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-700";
  src: url(assets/fonts/Roboto-Bold.ttf);
}

:root {
  --red: rgb(255, 98, 87);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto-400";
  color: var(--blue-800);
}

body {
  background-color: var(--blue-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.container-subscribe {
  display: flex;
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  max-width: 800px;
  margin: 10px;
  margin-bottom: 20px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 20px 35px 20px 20px;
}

h1 {
  font-family: "Roboto-700";
  font-size: 52px;
}

.subscribe p {
  line-height: 130%;
}

ul {
  list-style: none;
}

.lista {
  display: flex;
  gap: 10px;
}

li {
  padding: 7.5px 0;
}

form {
  margin-top: 15px;
}

.messages {
  display: flex;
  justify-content: space-between;
}

label,
#error,
button {
  font-size: 12px;
  font-family: "Roboto-700";
}

#error {
  color: var(--red);
}

input {
  margin: 5px 0 20px 0;
  padding: 15px 15px;
  width: 100%;
  border-radius: 7.5px;
  border: var(--grey) 1px solid;
}

input:hover,
button {
  cursor: pointer;
}

.input-error {
  color: var(--red);
  border-color: var(--red);
  background-color: hsla(4, 100%, 67%, 0.151);
}

input:focus {
  border: var(--blue-800) solid 1.5px;
  outline: none;
}

button {
  padding: 15px 20px;
  width: 100%;
  border-radius: 7.5px;
  background-color: var(--blue-800);
  color: var(--white);
  border: none;
}

button:hover {
  background-image: linear-gradient(
    to right,
    #ff5379,
    #ff566a,
    #ff5b5b,
    #ff614c,
    #ff693c
  );
  box-shadow: 0px 10px 38px -4px rgba(255, 105, 60, 0.51);
  -webkit-box-shadow: 0px 10px 38px -4px rgba(255, 105, 60, 0.51);
  -moz-box-shadow: 0px 10px 38px -4px rgba(255, 105, 60, 0.51);
}

.container-subscribe .image img {
  height: 500px;
  margin-left: 10px;
}

.container-sucess {
  display: none;
  background-color: var(--white);
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  margin: 20px 0;
}

.container-sucess img {
  width: 45px;
}

h2 {
  font-size: 36px;
  font-family: "Roboto-700";
  margin: 20px 0;
  line-height: 100%;
}

.container-sucess p, #user-email {
  margin-bottom: 30px;
  line-height: 150%;
  font-size: 14px;
}

#user-email{
  font-family: "Roboto-700";
}

.container-sucess button {
  width: 100%;
  margin-bottom: 10px;
}

footer {
  bottom: 0;
  position: absolute;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: hsl(228, 33%, 57%);
  font-size: 11px;
}

@media (max-width: 800px) {
  body {
    justify-content: start;
  }
  
  .container-subscribe {
    margin: 0;
    flex-direction: column-reverse;
    width: 375px;
    padding: 0;
    border-radius: 0;
  }

  .container-subscribe .image img {
    content: url(assets/images/illustration-sign-up-mobile.svg);
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .subscribe {
    padding-left: 5px;
  }

  h1 {
    font-size: 38px;
    margin-top: 10px;
  }

  label {
    margin-bottom: 5px;
  }

  button {
    margin-bottom: 20px;
  }

  .container-sucess {
    margin: 0 0 30px 0;
    width: 375px;
    height: 98vh;
    border-radius: 0;
    position: relative;    
  }

  .container-sucess img {
    margin-top: 100px;
    margin-bottom: 15px;
  }

  .container-sucess button {
    position: absolute;
    width: 85%;
    bottom: 30px;
  }
}
