:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --very-dark-blue: hsl(218, 12%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */
    --a: rgb(#69707D)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-grayish-blue);
}

body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.container {
    width: 1050px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

a {
    text-decoration: none;
}

.nav-itens,
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    position: relative;
}

.nav-links a:hover::after {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--orange);
    height: 3px;
    width: 100%;
    bottom: -40px;
    left: 0;
}

.nav-itens .logo {
    width: 140px;
    margin-right: 20px;
}

.nav-itens .cart-container {
    position: relative;
}

.nav-itens #icon-cart {
    height: 17.5px;
    margin-right: 20px;
    position: relative;
}

.nav-itens #icon-cart:hover {
    cursor: pointer;
}

.nav-itens .cart-container #span-icon {
    position: absolute;
    background-color: var(--orange);
    color: var(--white);
    font-size: 10px;
    border-radius: 20px;
    padding: 0 6.5px;
    left: 25%;
    top: -25%;
}


.nav-itens .cart {
    position: absolute;
    top: 40px;
    right: -165px;
    width: 350px;
    height: 240px;
    border-radius: 10px;
    background-color: var(--white);
    -webkit-box-shadow: -1px 18px 29px -3px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -1px 18px 29px -3px rgba(0, 0, 0, 0.27);
    box-shadow: -1px 18px 29px -3px rgba(0, 0, 0, 0.27);
}

.nav-itens .cart .title {
    font-weight: 700;
    color: var(--very-dark-blue);
    margin: 20px;
}

.nav-itens .cart .cart-details {
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding: 20px;
}

.nav-itens .cart .cart-details .empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-itens .cart .cart-details .empty-cart p {
    font-weight: 700;
    font-size: 14px;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items .thumb img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.items .icon img{
    width: 15px;
}

.items .items-description{
    display: flex;
    flex-direction: column;  
    gap: 5px;  
}

.items .items-description .item-title{
    margin: 0;
    color: var(--grayish-blue);
}

.items .items-description h3, .items .items-description p{
    font-size: 16px!important;
}

.items .items-description .div-prices{
    display: flex;
    gap: 10px;
}

.items .items-description #total{
    font-weight: 700;
    color: var(--very-dark-blue)
}

.cart .cart-details .cart-items button{
    width: 100%;    
}

.dont-show{
    display: none;
}

.nav-itens .avatar {
    width: 45px;
    border: transparent solid 2px;
    border-radius: 50%;
}

.nav-itens .avatar:hover {
    cursor: pointer;
    border: var(--orange) solid 2px;
}

hr {
    height: 2px;
    border: none;
    background-color: var(--light-grayish-blue);
}
/* End Navbar */

/* Grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 0 50px;
    margin-top: 80px;
}

/* Left Grid - Galery */

.grid-item-left .main-image {
    border-radius: 20px;
    max-width: 100%;
    margin-bottom: 20px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.grid-gallery img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.grid-gallery img:hover {
    opacity: 0.4;
    cursor: pointer;
}

.thumb-active {
    border: var(--orange) 2px solid;
    border-radius: 12px;
}

.active {
    opacity: 0.4;
}

.inactive {
    display: none;
}

/* End Lef Grid - Galery */

/* Right Grid - Product Info */

.grid-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.grid-item-right .company {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}

.grid-item-right h1 {
    font-weight: 700;
    font-size: 46px;
    color: var(--very-dark-blue);
    line-height: 100%;
    margin: 10px 0 30px;
}

.grid-item-right .description {
    line-height: 25px;
}

.new-price-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.new-price-info .new-price {
    font-weight: 700;
    font-size: 28px;
    color: var(--very-dark-blue);
}

.new-price-info .discount {
    background-color: var(--very-dark-blue);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    padding: 2px 7.5px;
    border-radius: 5px;
}

.old-price {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}

.btn-container {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.quantity-box {
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 35%;
    padding: 0 15px;
}

.quantity-box #minus {
    width: 12px;
    height: 5px;
}

.quantity-box p {
    font-weight: 700;
    color: var(--very-dark-blue);
}

.quantity-box #plus {
    height: 12px;
}

.quantity-box #minus:hover,
.quantity-box #plus:hover {
    cursor: pointer;
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--orange);
    color: var(--very-dark-blue);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    width: 65%;
}

button:hover {
    background-color: var(--pale-orange);
    cursor: pointer;
}

button img {
    margin-right: 10px;
    height: 20px;
}

/* End Right Grid - Product Info */

/* End Grid */

footer {
    margin-top: 20px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: inherit;
}
