:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --very-dark-blue: hsl(218, 12%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-grayish-blue);
}

body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.container {
    width: 1050px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

a {
    text-decoration: none;
}

.nav-itens,
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a:hover{     
    border-bottom: 3px solid var(--orange);    
}

.nav-itens .logo {
    width: 140px;
    margin-right: 20px;
}

.nav-itens #cart {
    height: 17.5px;
    margin-right: 20px;
}

.nav-itens #cart:hover {
    cursor: pointer;
}

.nav-itens .avatar {
    width: 45px;
    border: transparent solid 2px;
}

.nav-itens .avatar:hover {
    cursor: pointer;
    border: var(--orange) solid 2px;
    border-radius: 50%;
}

hr {
    height: 2px;
    border: none;
    background-color: var(--light-grayish-blue);
}
/* End Navbar */

/* Grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 0 50px;
    margin-top: 60px;
}

/* Left Grid - Galery */

.grid-item-left .main-image {
    border-radius: 20px;
    max-width: 100%;
    margin-bottom: 20px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.grid-gallery img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.grid-gallery img:hover {
    opacity: 0.4;
    cursor: pointer;
}

.thumb-active {
    border: var(--orange) 2px solid;
    border-radius: 12px;
}

.active {
    opacity: 0.4;
}

.inactive {
    display: none;
}

/* End Lef Grid - Galery */

/* Right Grid - Product Info */

.grid-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.grid-item-right .company {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}

.grid-item-right h1 {
    font-weight: 700;
    font-size: 46px;
    color: var(--very-dark-blue);
    line-height: 100%;
    margin: 10px 0 30px;
}

.grid-item-right .description {
    line-height: 25px;
}

.new-price-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.new-price-info .new-price {
    font-weight: 700;
    font-size: 28px;
    color: var(--very-dark-blue);
}

.new-price-info .discount {
    background-color: var(--very-dark-blue);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    padding: 2px 7.5px;
    border-radius: 5px;
}

.old-price {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}

.btn-container {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.quantity-box {
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 35%;
    padding: 0 15px;
}

.quantity-box #minus {
    width: 12px;
    height: 5px;
}

.quantity-box p {
    font-weight: 700;
    color: var(--very-dark-blue);
}

.quantity-box #plus {
    height: 12px;
}

.quantity-box #minus:hover, .quantity-box #plus:hover {
    cursor: pointer;
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--orange);
    color: var(--very-dark-blue);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    width: 65%;
}

button:hover{
    background-color: var(--pale-orange);
    cursor: pointer;
}

button img {
    margin-right: 10px;
    height: 20px;
}

/* End Right Grid - Product Info */

/* End Grid */

footer {
    margin-top: 20px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: inherit;
}
