:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(7, 42%, 62%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  color: var(--dark-grayish-cyan);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  height: 100dvh;
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  display: flex;
  gap: 40px;
  padding: 30px;
  background-color: var(--white);
  border-radius: 20px;
}

.calculator {
  width: 395px;
  margin: 5px 10px 15px;
}

label:not(.tip-options label) {
  font-size: 16px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox no spin btn */

  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  text-align: right;
  border: 2px solid transparent;
  border-radius: 5px;
}

input::placeholder {
  color: var(--grayish-cyan);
}

input:hover {
  cursor: pointer;
  border: var(--strong-cyan) solid 2px;
}

input[type="number"]:focus {
  outline: none;
}

#bill {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 100%;
  background: url(images/icon-dollar.svg) no-repeat 20px 15px
    var(--very-light-grayish-cyan);
}

.tip-options {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 5px;
}

.tip-options label {
  display: inline-block;
  width: 120px;
  padding: 5px 10px;
  margin: 7.5px 0;
  background-color: var(--very-dark-cyan);
  color: var(--very-light-grayish-cyan);
  text-align: center;
  border-radius: 5px;
}

.tip-options input[type="radio"] {
  display: none;
}

.tip-options input[type="radio"]:checked + label {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-options label:hover {
  color: var(--very-dark-cyan);
  background-color: rgba(from var(--strong-cyan) r g b / 0.4);
  cursor: pointer;
}

.tip-options #custom {
  width: 120px;
  padding: 5px 10px;
  text-align: center;
}

.tip-options #custom::placeholder {
  color: var(--dark-grayish-cyan);
}

#num-people {
  margin-top: 5px;
  padding: 5px 15px;
  width: 100%;
  background: url(images/icon-person.svg) no-repeat 20px 15px
    var(--very-light-grayish-cyan);
}

.num-people-msg {
  display: flex;
  justify-content: space-between;
}

.error-msg {
  color: var(--error);
  font-size: 16px;
}

.error {
  border: var(--error) solid 2px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-dark-cyan);
  width: 430px;
  padding: 40px;
  border-radius: 15px;
}

.tip-amount,
.total-tips {
  display: flex;
  justify-content: space-between;
}

.tip-amount {
  margin-bottom: 25px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 18px;
  color: var(--very-light-grayish-cyan);
}

.subtitle {
  font-size: 14px;
}

.total {
  color: var(--strong-cyan);
  font-size: 48px;
}

button {
  background-color: var(--strong-cyan);
  text-transform: uppercase;
  font-size: 20px;
  padding: 7.5px;
  border: none;
  border-radius: 5px;
}

button:enabled {
  color: var(--very-dark-cyan);
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  cursor: pointer;
  background-color: hsl(from var(--strong-cyan) h s 75%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

@media (max-width: 990px) {

  body{
    padding: 10px;
  }
  .container {
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    margin: 40px 0;
  }

  .calculator {
    width: 320px;
    margin: 0px;
  }

  #bill {
    margin-bottom: 20px;
  }

  .tip-options {
    margin-bottom: 15px;
  }

  .tip-options label,
  .tip-options #custom {
    width: 150px;
  }

  .results {
    width: 320px;
    padding: 25px;
  }

  .title {
    font-size: 16px;
  }

  .total {
    font-size: 32px;
  }

  .tip-amount {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  button {
    margin-top: 30px;
  }
}
