// Start Hero section
main {
  display: flex;
  margin: 100px 0;
  padding: 0 20px;
  width: 100%;

  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 575px;

    .buttons {
      display: flex;
      gap: 20px;

      .btn-gray {
        background-color: $grey-50;
        color: $dark-grey;
        font-weight: 500;
      }

      .btn-gray:hover {
        background-color: white;
        border: $dark-grey 3px solid;
        color: $dark-grey;
      }
    }
  }

  .hero-image {
    position: relative;

    img {
      width: 120%;
      position: relative;
      z-index: 5;
    }
  }

  .hero-image::after {
    content: "";
    background-color: $blue-600;
    height: 80%;
    width: 150%;
    top: 30%;
    left: 40%;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 0 150px;
  }
}

@media (max-width: 1290px) {
  main {
    .hero-image {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0;

    .hero-info {
      margin-top: 60px;
      text-align: center;
      align-items: center;

      h1 {
        font-size: 32px;
        width: 350px;
      }

      p {
        width: 330px;
        font-size: 16px;
      }

      .buttons {
        gap: 10px;
      }

      button {
        padding: 10px 15px;
      }
    }

    .hero-image::after {
      top: 25%;
      left: 20%;
    }
  }
}
// End Hero section

// ---------------------

// Start Features section
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 120px 0;

  .features-info {
    margin-bottom: 20px;

    p {
      width: 530px;
    }
  }

  .features-tabs {
    margin-bottom: 40px;
  }

  .tab {
    background-color: transparent;
    color: $blue-950;
    font-weight: 400;
    border: none;
    border-radius: 0;
    width: 230px;
    margin-bottom: 10px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .tab:hover {
    color: $red-400;
    cursor: pointer;
  }

  .active {
    position: relative;
    font-weight: 500;
  }

  .active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -10px;
    left: 0;
    background-color: $red-400;
  }

  .features-details {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    width: 100%;
    height: 420px;
  }

  .features-image {
    position: relative;
    margin-left: 10px;
    margin-top: 40px;

    img {
      width: 100%;
      background-color: white;
      position: relative;
      z-index: 5;
    }
  }

  .features-image::before {
    content: "";
    background-color: $blue-600;
    height: 95%;
    width: 200%;
    top: 85px;
    right: 70px;
    position: absolute;
    z-index: 1;
    border-radius: 0 200px 200px 0;
  }

  .features-details-info {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      width: 450px;
    }
  }
  .mobile,
  .inactive {
    display: none;
  }
}

@media (max-width: 1200px) {
  .features-container {
    .features-details {
      gap: 50px;
    }
  }
}

@media (max-width: 900px) {
  .features-container {
    .features-info {
      margin-bottom: 0;

      p {
        width: 330px;
        font-size: 16px;
      }
    }

    .features-tabs {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0 40px;
      width: 90%;

      .mobile {
        display: block;
      }

      .tab {
        width: fit-content;
        padding: 15px 0;
        margin: 5px 0;
        font-size: 16px;
      }

      .active::after {
        width: 90%;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .features-details {
      flex-direction: column;
    }

    .features-image {
      img {
        width: 90%;
      }
    }

    .features-image::before {
      top: 42px;
      height: 100%;
    }

    .features-details-info {
      margin-top: 30px;
      text-align: center;
      justify-content: center;
      align-items: center;

      p {
        width: 330px;
        font-size: 16px;
      }

      .more-info {
        display: none;
      }
    }

    h2 {
      font-size: 24px;
    }
  }
}
// End Features section

// ---------------------

// Start Download section

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20%;

  .download-info {
    margin-bottom: 20px;

    p {
      width: 535px;
    }
  }

  .download-cards-container {
    display: flex;
    gap: 40px;
    min-height: 450px;
  }

  #card-2 {
    align-self: center;
  }

  #card-3 {
    align-self: end;
  }

  .download-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
    gap: 10px;
    border-radius: 20px;

    box-shadow: 0px 20px 30px -15px rgba(154, 154, 162, 0.75);
    -webkit-box-shadow: 0px 20px 30px -15px rgba(154, 154, 162, 0.75);
    -moz-box-shadow: 0px 20px 30px -15px rgba(154, 154, 162, 0.75);

    p {
      margin: 0 0 10px;
    }

    img {
      margin: 15px 0;
    }

    button {
      padding: 15px 35px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 900px) {
  .download-container {
    margin-top: 60%;

    .download-info {
      margin-bottom: 30px;

      h2 {
        font-size: 24px;
      }

      p {
        width: 330px;
        font-size: 16px;
      }
    }

    .download-cards-container {
      flex-direction: column;
      gap: 80px;

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
// End Download section

// ---------------------

// Start FAQ section
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 0 10%;

  .faq-info {
    margin-bottom: 20px;
    text-align: center;

    p {
      width: 535px;
    }
  }

  .more-info-btn {
    margin: 50px 0;
  }

  hr {
    width: 600px;
  }

  .faq-questions {
    margin: 20px 0;
    width: 600px;

    .question-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: transparent;
        color: $blue-950;
        font-size: 18px;
        font-weight: 400;
        padding: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }

      &:hover {
        cursor: pointer;
        & > button {
          border: transparent 3px solid;
          color: $red-400;
        }
      }

      .open-answer {
        path {
          stroke: $red-400;
        }
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }

      .closed-answer {
        path {
          stroke: $blue-600;
        }
        transform: rotate(0deg);
        transition: transform 0.3s ease;
      }
    }

    .answer {
      height: 0;
      opacity: 0;
      overflow: hidden;
      margin: 0;
      transition: all 0.3s ease-in-out;
    }

    .active {
      height: 100%;
      opacity: 1;
      overflow: auto;
      margin: 30px 0 10px;
    }
  }
}

@media (max-width: 650px) {
  .faq-container {
    margin: 150px 0;

    .faq-info {
      margin-bottom: 30px;

      h2 {
        font-size: 24px;
        width: 300px;
      }

      p {
        width: 330px;
        font-size: 16px;
      }
    }

    hr {
      width: 330px;
    }

    .faq-questions {
      margin: 20px 0;
      width: 330px;

      .question-info {
        button {
          font-size: 16px;
        }
      }
    }

    p {
      width: 310px;
      font-size: 16px;
    }
  }
}
// End FAQ section

// ---------------------

// Start Bottom section
.contact-form {
  text-align: center;

  p {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
  }

  h4 {
    width: 520px;
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin: 40px 0;
  }

  .inputs {
    display: flex;
    gap: 15px;

    input[type="text"] {
      padding: 5px 20px;
      border-radius: 5px;
      height: 100%;
      width: 350px;
      border: transparent 3px solid;
      outline: none;

      &::placeholder {
        color: $light-grey-p;
        font-size: 16px;
      }
    }

    .email {
      position: relative;      
    }

    .error {
      display: none;
      background-color: $red-400;
      color: white;
      font-size: 11px;
      font-style: italic;
      text-align: start;
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      padding: 10px 15px;
      border-radius: 0 0 5px 5px;
    }

    .email-error{
      border: $red-400 3px solid !important;
      background: url(../images/icon-error.svg) no-repeat 310px 13px white;
    }

    .contact-us-btn {
      background-color: $red-400;
    }

    .contact-us-btn:hover {
      background-color: white;
      border: $red-400 3px solid;
      color: $red-400;
    }
  }
}

@media (max-width:600px){
  .contact-form{
    width: 375px;
    padding: 0 30px;

    p{
      margin: 0;
      font-size: 12px;
    }
    
  h4 {
    width: 100%;
    font-size: 24px;
    margin: 10px 0 30px;
  }

  .inputs {
    flex-direction: column;
    gap: 20px;

    input[type="text"] {
      width: 100%;
      padding: 15px 20px;
    }

    .error {
      bottom: 0px;
    }
  
    .email-error {
      background: url(../images/icon-error.svg) no-repeat 275px 13px white;
      margin-bottom: 30px;
    }
  }


}
}

// End Bottom section
