@import "variables";
@import "navbar";
@import "sections";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $blue-950;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

hr {
  background-color: $blue-950;
  height: 1px;
  border: 0;
  width: 100%;
  opacity: 0.2;
}

h1 {
  font-weight: 500;
  font-size: 48px;
}

h2 {
  font-weight: 500;
  font-size: 28px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

p {
  line-height: 30px;
  margin: 20px 0 30px;
  color: $light-grey-p;
}

button {
  background-color: $blue-600;
  color: white;
  font-weight: 500;
  border: transparent 3px solid;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 3px 10px 0px rgba(154, 154, 162, 0.4);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(154, 154, 162, 0.4);
  -moz-box-shadow: 0px 3px 10px 0px rgba(154, 154, 162, 0.4);
}

button:hover {
  background-color: white;
  border: $blue-600 3px solid;
  color: $blue-600;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: inherit;
}
