:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-purple);
    font-weight: 600;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}

body {
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: center top;
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    min-height: 100dvh;
}

.container {
    background-color: var(--white);
    width: 580px;
    padding: 20px 30px;
    border-radius: 15px;
}

hr {
    background-color: var(--light-pink);
    height: 1px;
    border: 0;
}

.faq {
    display: flex;
    gap: 15px;
    margin: 20px 0 30px;
}

.faq img {
    width: 30px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.accordion {
    margin: 20px 0;
}

.title-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.question:hover {
    color: hsl(from var(--dark-purple) h 70% 50%);
    cursor: pointer;
}

.answer {
    font-weight: 400;
    color: var(--grayish-purple);
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    text-overflow: hidden;
}

.inactive,
.minus {
    display: none;
}

.open {
    display: block;
    height: 100%;
    opacity: 1;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: inherit;
}

@media (max-width: 600px) {
    body {
        background-image: url(assets/images/background-pattern-mobile.svg);
    }

    .container {
        width: 375px;
    }

    h1 {
        font-size: 42px;
    }
}
