* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Manrope", serif;
  font-weight: 500;
  color: var(--desaturated-dark-blue);
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--light-grayish-blue);
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  width: 850px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  width: 400px;
  z-index: 0;
  position: relative;
}

.info {
  padding: 40px;
  transform: translateX(-75px);
  z-index: 1;
  position: relative;
  background-color: white;
}

.info h1 {
  font-weight: 700;
  font-size: 21px;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 20px;
}

.info p {
  line-height: 180%;
  margin-bottom: 25px;
}

.lower-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile img {
  width: 45px;
  border-radius: 50%;
}

.profile .data {
  display: flex;
  flex-direction: column;
}

.profile .data h3 {
  font-weight: 700;
  font-size: 15px;
  color: var(--very-dark-grayish-blue);
}

.profile .data p {
  font-size: 15px;
  margin: 0;
}

.share {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
}

/* .share img {
  width: 18px;
} */

.share .icon {
  font-size: 20px;
}

.share:hover {
  background-color: var(--desaturated-dark-blue);
}

.share:hover .icon {
  fill: white;
}

footer {
  bottom: 0;
  position: absolute;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
}
