* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Manrope", serif;
  font-weight: 500;
  color: var(--desaturated-dark-blue);
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--light-grayish-blue);
  min-height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  width: 850px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.image img {
  width: 400px;
  z-index: 0;
  position: relative;
  height: 100%;
}

.info {
  padding: 40px;
  transform: translateX(-75px);
  z-index: 1;
  position: relative;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.info h1 {
  font-weight: 700;
  font-size: 21px;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 20px;
}

.info p {
  line-height: 160%;
  margin-bottom: 20px;
}

.lower-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile img {
  width: 45px;
  border-radius: 50%;
}

.profile .data {
  display: flex;
  flex-direction: column;
}

.profile .data h3 {
  font-weight: 700;
  font-size: 15px;
  color: var(--very-dark-grayish-blue);
}

.profile .data p {
  font-size: 15px;
  margin: 0;
}

.share .arrow-div {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  margin-right: 10px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.share .arrow-div .icon {
  font-size: 18px;
  position: relative;
  z-index: 3;
}

.share-active {
  background-color: var(--desaturated-dark-blue) !important;
}

.share-active .icon {
  fill: white;
}

.share .share-icons {
  display: none;
}

.share .share-icons-show {
  background-color: var(--very-dark-grayish-blue);
  padding: 15px 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  z-index: 2;
  right: -65px;
  bottom: 120px;
  cursor: pointer;
}

.share .share-icons:after {
  border-right: solid 12px transparent;
  border-left: solid 12px transparent;
  border-top: solid 12px var(--very-dark-grayish-blue);
  position: absolute;
  content: "";
  top: 100%;
}

.share-icons p {
  letter-spacing: 5px;
  color: var(--grayish-blue);
  margin: 0;
}

.share-icons .icon {
  fill: white;
  font-size: 25px;
}

footer {
  bottom: 0;
  position: absolute;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
}

@media (max-width: 865px) {
  .container {
    flex-direction: column;
    width: 350px;
    padding: 7px;
  }

  .image img {
    width: 100%;
    z-index: 0;
    position: relative;
    border-radius: 10px 10px 0 0;
  }

  .info {
    padding: 20px 40px;
    transform: translateX(0) translateY(-45px);
    border-radius: 0 0 10px 10px;
  }

  .info h1 {
    margin-top: 20px;
    font-size: 16px;
  }

  .lower-part {
    margin-top: 30px;
  }

  .profile img {
    width: 40px;
    border-radius: 50%;
  }

  .profile .data h3 {
    font-weight: 700;
    font-size: 13px;
    color: var(--very-dark-grayish-blue);
  }

  .profile .data p {
    font-size: 13px;
    margin: 0;
  }

  .share .share-icons-show {
    justify-content: start;
    width: 100%;
    padding: 25px 30px;
    border-radius: 0 0 10px 10px;
    left: 0px;
    bottom: 0px;
  }

  .share .share-icons:after {
    border-top: solid 12px transparent;
  }

  .info p {
    margin-bottom: 0px;
  }
}
