.mobile,
.inactive {
  display: none;
}

.sections {
  display: flex;
}

.images {
  flex: 3;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }
}

.info-right {
  align-items: center;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  width: 100%;

  h1,
  p,
  .shop-now {
    width: 423px;
  }

  p {
    margin: 30px 0;
  }

  h2 {
    letter-spacing: 13px;
  }
}

.shop-now {
  display: flex;
  gap: 20px;

  svg path {
    stroke: $black;
  }
}

.shop-now:hover {
  cursor: pointer;

  h2 {
    color: $dark-gray;
  }

  svg path {
    stroke: $dark-gray;
  }
}

.buttons {
  background-color: $black;
  bottom: 0;
  position: absolute;
  right: -180px;
  width: fit-content;
}

button:hover {
  background-color: $very-dark-gray;
}

.about {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  div {
    width: 100%;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding: 20px 4%;
  }

  p,
  h2 {
    width: 520px;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
  }
}

@media screen and (max-width: 1320px) {
  .info-right {
    margin-bottom: 60px;
  }

  .buttons {
    right: -152px;

    button {
      padding: 23px 30px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .sections {
    flex-direction: column;
  }

  .info-right {
    margin: 60px 0;

    h1 {
      font-size: 32px;
    }

    p {
      margin: 20px auto 40px;
    }

    h1,
    p,
    .shop-now {
      width: 330px;
    }
  }

  .buttons {
    right: 0;
    bottom: 4px;
  }

  .about-info {
    align-items: center;
    margin: 30px 0;

    h2 {
      font-size: 17px;
    }

    p {
      margin-top: 10px;
    }

    h2,
    p {
      width: 330px;
    }
  }
}

@media screen and (max-width: 550px) {
  .mobile {
    display: block;
  }

  .buttons {    
    bottom: 0;
  }
}
