@import "variables";
@import "navbar";
@import "sections";

* {
  box-sizing: border-box;
  color: $dark-gray;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    height: 100dvh;
}

a {
  color: $white;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: $black;
  font-weight: 700;
  font-size: 48px;
}

h2 {
  color: $black;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

button {
  background-color: $black;
  border: none;
  color: $white;
  padding: 30px 37px;
}

p {
  line-height: 150%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: inherit;
}
